/* stop the content overflowing to the sides, especially with negative margins on .row */
#MPOuterMost {
    overflow-x: hidden;
    overflow-y: hidden;
}
/* hide .HtmlFooter and .MPBottomMenu, both of which add extra padding/whitespace */
.HtmlFooter,
.MPBottomMenu {
    display: none;
}
/* remove bottom margin from empty paragraphs (eg. in widgets) to avoid whitespace */
p:empty {
    margin-bottom: 0;
}
/* this one's not HL-specific */
/* centres all background images created using the bg image JS/ajax calls for images */
.bg-image,
.img-container {
    background-size: cover;
    background-position: center;
}
/* avoids 1px tall sections, especially when they hold JS but no content */
/* can be less specific, but might break other HL functionality */
.home .col-md-12[class*="section"] {
    min-height: 0;
}
/* allows for word breaking for emails and profile inbox messages */
body {
    overflow-wrap: break-word;
    word-wrap: break-word;
}
/* overrides the above word breaking for yes/no toggle buttons in create event */
#event-additional-details-container {
    overflow-wrap: normal !important;
    word-wrap: normal !important;
}
/* resets the padding on col-md-12 full-width sections */
.row-full .col-md-12[class*="section"] {
    padding: 0;
}
.row-full .col-md-6[class*="section"],
.row-full .col-md-8[class*="section"],
.row-full .col-md-4[class*="section"],
.row-full .col-md-3[class*="section"] {
    padding-left: 15px;
    padding-right: 15px;
}
/* reset alerts to neutral colours */
.alert-warning, .alert-success, 
.ideation-home .alert.alert-success, 
.ideation-detail .alert.alert-success {
    color: inherit;
    background-color: #f9f9f9;
    border-color: #f5f5f5;
}

/*** fix Add Event button styling ***/

.HLEventList .Content > div[id*="ContentPanel"] > .col-md-12.no-pad > .pull-right {
    float: none !important;
    text-align: right;
}
.HLEventList .Content > div[id*="ContentPanel"] > .col-md-12.no-pad > .pull-right + br {
    display: none;
}

@media (max-width: 768px) {
    .btn-group>.btn, .btn-group-vertical>.btn {
        float: left;
    }
}
/*** fixing non-responsive images ***/
img {
    max-width: 100%;
}

/*** fixing lack of wrapping on community settings dropdown buttons ***/
.CommunityManagementGearStatusPaddingL {
    white-space: normal;
}
/****** fix missing left-hand profile page content on my contacts page ******/
.text-muted-h2.my-contacts .col-md-3.section1 {
    display: block !important;
}

/****** adding padding to interior pages ******/

#MainCopy_ContentWrapper {
    padding-bottom: 45px;
}

/************ basics ************/
ul {
    margin-top: 20px;
}
body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    color: #17171E;
}
h1, .h1 {
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #333;
}
h2, .h2,
.text-muted-h2 h2 {
    font-size: 24px;
    line-height: 1.25;
    color: #333;
}
.subheading h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid #D6D6D6;
    margin-bottom: 20px;
}
.HLLandingControl h2,
.HLLandingControl .heading h2,
.small-h2 h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.1875;
    color: #212942;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.has-icon h2::before {
    font-family: RocketForum;
    content: '\f019';
    color: #8846AC;
    margin-right: 8px;
}
h3, .h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #333;
}
h3 a,
.HLLandingControl h3 a {
    color: #017F75;
    font-size: 18px;
    line-height: 24px;
}
h3 a:hover,
h3 a:focus,
.HLLandingControl h3 a:hover,
.HLLandingControl h3 a:focus,
.blogs ul li h3 a:hover,
.blogs ul li h3 a:focus,
.upcoming-events ul li h3 a:hover,
.upcoming-events ul li h3 a:focus,
.announcement-slide h3 a:hover,
.announcement-slide h3 a:focus {
    color: #212942;
    text-decoration: underline;
}
h4, .h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    color: #333;
}
h5, .h5 {
    font-weight: 800;
    font-size: 12px;
    line-height: 1.5;
    color: #333;
}
h6, .h6 {
    font-size: 12px;
    line-height: 1.5;
    color: #333;
}
.p-large,
.callout-panel p {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: #000;
}
a {
    color: #017F75;
    font-weight: 700;
}
a:hover,
a:focus {
    color: #000;
}
.btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px #005fcc;
}

/*** transitions ***/
a,
a:hover,
a:focus,
button,
button:hover,
button:focus,
input,
input:hover,
input:focus {
    transition: .3s;
}

/****** margins between sections ******/

.margin-bottom-45 {
    margin-bottom: 45px;
}

/****** buttons ******/
.btn:not(.dropdown-toggle) {
	white-space: normal;
}
.make-buttons em {
    display: inline-block;
    margin: -5px;
}
.make-buttons em a {
    display: inline-block;
    margin: 5px;
    font-style: normal;
    text-decoration: none;
}
.make-buttons em a,
.btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    padding: 8px 15px;
    border-radius: 50px;
    border: 1px solid;
}
div[id*="pnlMessageViewer"] .btn[id*="lnkBackAfter"] {
    border: none;
}
#MPOuterMost .btn {
    border-radius: 50px;
}
#MPOuterMost .btn.btn-xs.btn-edit,
#MPOuterMost .form-control .btn.dropdown-toggle {
    border-radius: 4px;
}
#MPOuterMost .btn-group>.btn:first-child:not(:last-of-type):not(.dropdown-toggle),
#MPOuterMost div[id*="likeRatingContainer"] > a:not(:last-of-type),
#MPOuterMost .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#MPOuterMost .btn-group>.btn:last-child:not(:first-child), 
#MPOuterMost .btn-group>.dropdown-toggle:not(:first-child),
#MPOuterMost div[id*="likeRatingContainer"] > a:not(:first-child),
#MPOuterMost .btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#MPOuterMost .ideation-vote .btn {
    border: none;
    padding: 0;
}
.make-buttons.large em a {
    padding: 12px 20px;
}
.make-buttons.large em a::after {
    font-family: RocketForum;
    content: '\f009';
    margin-left: 12px;
    font-size: 10px;
    line-height: 16px;
}
.make-buttons.small em a,
.btn.btn-sm {
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 1px;
}
.btn.btn-xs {
    padding: 2px 5px;
}
.make-buttons em a,
.btn-primary,
.ideation-home .btn-success,
.community-radio .btn-group .btn-primary.dropdown-toggle,
.open .dropdown-toggle.btn-primary,
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, 
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.post-message-contributed-content .validate-contribution .btn-group .dropdown-toggle.btn-default,
.new-ideas .ideation-widget > div > div:last-child a,
.blogs-list .HLLandingControl div[id*="BottomLink"] a,
.btn-success,
.btn-info,
.HL-contact-suggestions .btn-primary,
.btn-group>.btn-success+.dropdown-toggle,
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active,
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active,
.alert-warning .btn,
.alert-warning .btn-group > .btn.dropdown-toggle:first-child,
.HLLandingControl .btn-default {
    color: #fff;
    background: #389CBE;
    border-color: #389CBE;
}
.make-buttons em a:hover,
.make-buttons em a:focus,
.btn-primary:hover,
.btn-primary:focus,
.ideation-home .btn-success:hover,
.ideation-home .btn-success:focus,
.community-radio .btn-group .btn-primary.dropdown-toggle:hover,
.community-radio .btn-group .btn-primary.dropdown-toggle:focus,
.open .dropdown-toggle.btn-primary:hover,
.open .dropdown-toggle.btn-primary:focus,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary:hover,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary:focus, 
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary:hover,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary:focus,
.post-message-contributed-content .validate-contribution .btn-group .dropdown-toggle.btn-default:hover,
.post-message-contributed-content .validate-contribution .btn-group .dropdown-toggle.btn-default:focus,
.new-ideas .ideation-widget > div > div:last-child a:hover,
.new-ideas .ideation-widget > div > div:last-child a:focus,
.blogs-list .HLLandingControl div[id*="BottomLink"] a:hover,
.blogs-list .HLLandingControl div[id*="BottomLink"] a:focus,
.btn-success:hover,
.btn-success:active,
.btn-info:hover,
.btn-info:active,
.HL-contact-suggestions .btn-primary:hover,
.HL-contact-suggestions .btn-primary:active,
.btn-group>.btn-success+.dropdown-toggle:hover,
.btn-group>.btn-success+.dropdown-toggle:focus,
.btn-success:focus,
.btn-success.active, 
.open .dropdown-toggle.btn-success,
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus,
.alert-warning .btn:hover,
.alert-warning .btn:focus,
.alert-warning .btn:active,
.alert-warning .btn-group > .btn.dropdown-toggle:first-child:focus,
.alert-warning .btn-group > .btn.dropdown-toggle:first-child:hover,
.alert-warning .btn-group > .btn.dropdown-toggle:first-child:active,
.HLLandingControl .btn-default:hover,
.HLLandingControl .btn-default:focus {
    color: #fff;
    background: #2B84A2;
    border-color: #2B84A2;
}
.make-buttons.secondary em a,
.btn-default {
    color: #333;
    background: #fff;
    border-color: #333;
}
.make-buttons.secondary em a:hover,
.make-buttons.secondary em a:focus,
.btn-default:hover,
.btn-default:focus {
    color: #666;
    border-color: #666;
    background: #fff;
}
.make-buttons.white em a,
.hero.make-buttons em a:last-child {
    color: #fff;
    border-color: #fff;
    background: transparent;
}
.make-buttons.white em a:hover,
.make-buttons.white em a:focus,
.hero.make-buttons em a:last-child:hover,
.hero.make-buttons em a:last-child:focus {
    color: #ababab;
    border-color: #ababab;
}
.HLLandingControl div[id*="BottomLink"] .col-md-12,
.HLLandingControl div[id*="More"] .col-md-12 {
    padding: 0;
}

/****** round profile images ******/

.Welcome .imgButton.btn,
a[id*="ProfileImage"]:not([id*="NameLink"]):not([id*="ManageDropDown"]),
a[id*="UserImageDisplay"],
a[id*="Contacts_PictureLink"],
a[id*="lnkDisplay"],
a[id*="Welcome_Details_ProfileLink"],
.list-group-item-image,
a[title="User Name Image"],
a[oldtitle="User Name Image"],
.member-dashboard-img a[id*="ImageControl"],
.dashboard-col-3 ul li .col-sm-2 a,
.HLEngagement .Picture a,
td.ProfilePic > a,
.champion .HtmlContent > strong {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: #d8d9db;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
}
.Welcome .imgButton.btn {
    background-color: #fff;
}
.list-group-item-image {
    width: 40px;
    height: 40px;
}
.list-group-item-nochild .list-group-item-image {
    width: 20px;
    height: 20px;
}
.Welcome button.btn-default.btn.imgButton {
    width: 40px;
    height: 40px;
    min-height: 40px;
    border: none;
    margin-left: 10px;
}
.text-muted-h2 a[id*="ImageControl_lnkDisplay"] {
    width: 140px;
    height: 140px;
    background: #f9f9f9;
}
.HLEngagement .Picture a {
    width: 50px;
    height: 50px;
}
a[id*="Welcome_Details_ProfileLink"] {
    width: 60px;
    height: 60px;
}
.member-dashboard-img a[id*="ImageControl"] {
    width: 120px;
    height: 120px;
}

.imgButton img,
a[id*="ProfileImage"] img,
a[id*="UserImageDisplay"] img,
a[id*="Contacts_PictureLink"] img,
a[id*="lnkDisplay"] img,
a[id*="Welcome_Details_ProfileLink"] img,
.list-group-item-image img,
a[title="User Name Image"] img,
a[oldtitle="User Name Image"] img,
.member-dashboard-img img,
.dashboard-col-3 ul li .col-sm-2 a img,
.HLEngagement .Picture a img,
td.ProfilePic > a > img,
.champion .HtmlContent > strong img {
    position: relative;
    max-height: 100% !important;
    width: auto;
}

.member-directory .member-picture {
    text-align: center;
}

/****** tags ******/

.content-tags a.label-search-tag,
.faceted-search-main .fs-result-row .label-search-tag {
    font-weight: 700;
    font-size: 11px;
    line-height: 18px;
    text-transform: uppercase;
    color: #8846AC;
    padding: 1px 12px;
    background: transparent;
    position: relative;
    border: none;
}
.label-search-tag .fa-user,
.content-tags a.label-search-tag .fa-user,
.faceted-search-main .fs-result-row .label-search-tag .fa-user {
    margin-top: 3px;
    color: #8846AC;
}
.label-search-tag:hover .fa-user,
.label-search-tag:focus .fa-user,
.content-tags a.label-search-tag:hover .fa-user,
.content-tags a.label-search-tag:focus .fa-user,
.faceted-search-main .fs-result-row .label-search-tag:hover .fa-user,
.faceted-search-main .fs-result-row .label-search-tag:focus .fa-user {
    color: #fff;
}
.content-tags a.label-search-tag::before,
.faceted-search-main .fs-result-row .label-search-tag::before {
    content: '';
    border: 2px solid #8846ac;
    background: transparent;
    transform: skew(-20deg, 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2px;
    z-index: -1;
    transition: .3s;
}
.content-tags .glyphicon.glyphicon-user {
    color: #8846ac;
}
.content-tags a.label-search-tag:hover,
.content-tags a.label-search-tag:focus,
.faceted-search-main .fs-result-row .label-search-tag:hover,
.faceted-search-main .fs-result-row .label-search-tag:focus {
    color: #fff;
    text-decoration: none;
}
.content-tags a.label-search-tag:hover::before,
.content-tags a.label-search-tag:focus::before,
.faceted-search-main .fs-result-row .label-search-tag:hover::before,
.faceted-search-main .fs-result-row .label-search-tag:focus::before {
    background: #8846ac;
    transition: .3s;
}
.content-tags a.label-search-tag:hover .glyphicon.glyphicon-user,
.content-tags a.label-search-tag:focus .glyphicon.glyphicon-user,
.faceted-search-main .fs-result-row .label-search-tag:hover .glyphicon.glyphicon-user,
.faceted-search-main .fs-result-row .label-search-tag:focus .glyphicon.glyphicon-user {
    color: #fff;
}

/************ header ************/

#MPOuterHeader > .col-md-12,
#HEADER > .col-md-12,
#Logo > .col-md-12,
#MPheader > div.row {
    padding: 0;
}
#MPOuterMost.full #HEADER {
    max-width: calc(100% - 80px);
    padding-top: 18px;
    padding-bottom: 30px;
}

/****** logo and top text links on one line ******/

#Logo {
    float: left;
    width: 235px;
}
#Logo img {
    width: 235px;
}
#Logo .SloganText {
    display: none;
}
#MPheader > .row:first-child {
    float: right;
}
.skiplinkholder a, .skiplinkholder a:link, .skiplinkholder a:visited {
    left: -500%;
	top: -250px;
}
.skiplinkholder a:focus, .skiplinkholder a:active {
    left: 0;
	top: 0;
}

/****** search ******/

.search-bar-top {
    width: 245px;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}
#searchColumn {
    display: none;
}
.search-bar-top .SearchInputs,
#searchColumn .SearchInputs,
.search-bar .input-group {
    border-radius: 30px;
    background: #F2F2F2;
    box-shadow: none;
}
.search-bar-top .form-control,
#searchColumn .form-control,
.search-bar #FacetedSearchInput {
    background: transparent;
    box-shadow: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 17px;
    color: #333;
    height: 30px;
}
.search-bar-top .form-control::placeholder,
#searchColumn .form-control::placeholder,
.search-bar #FacetedSearchInput::placeholder {
font-style: normal;
}
.search-bar-top button[id*="SearchButton"],
#searchColumn button[id*="SearchButton"],
.search-bar .btnSearch {
    background: transparent;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}
.search-bar-top button[id*="SearchButton"] .glyphicon-search,
#searchColumn button[id*="SearchButton"] .glyphicon-search,
.search-bar .btnSearch .glyphicon-search {
    width: auto;
    top: 0;
    vertical-align: unset !important;
}
.search-bar-top button[id*="SearchButton"] .glyphicon-search::before,
#searchColumn button[id*="SearchButton"] .glyphicon-search::before,
.search-bar .btnSearch .glyphicon-search::before {
    font-family: RocketForum;
    content: '\f000';
    color: #389CBE;
}

/****** profile dropdown ******/

.Welcome .btn-group {
    position: relative;
}
#MPOuterMost .Welcome .btn-group #BtnShowProfile {
    border-radius: 50%;
}
#BtnShowProfile {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 11px;
    height: 11px;
    background: #F2F2F2;
    border: none;
    min-height: 0;
    z-index: 10;
}
#BtnShowProfile .caret {
    border-top-color: #389CBE;
    vertical-align: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/****** login link ******/
#Welcome_LoginLink {
    padding: 6px 15px;
    margin-top: 5px;
}

/****** main nav ******/

#NAV {
    position: absolute;
    right: 40px;
    bottom: 15px;
}

#NAV,
.navbar-default {
    background-color: transparent;
    border: none;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.disabled>a {
    color: #212942; 
    background-color: transparent;
    padding: 15px 20px;
    border-radius: 3px 3px 0px 0px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.disabled>a:hover, .navbar-default .navbar-nav>.disabled>a:focus {
	color: #017F75;
	background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #017F75;
    background-color: #F2F2F2;
}

/*** caret ***/
.navbar-default .navbar-nav>.dropdown>a .caret,
.nav-tabs li a .caret {
    border: none;
    width: auto;
    height: auto;
    margin-left: 6px;
}
.navbar-default .navbar-nav>.dropdown>a .caret::before,
.nav-tabs li a .caret::before {
    font-family: RocketForum;
    content: '\f002';
    color: #017F75;
    font-size: 6px;
    float: left;
    margin-top: 2px;
}

/* removing extraneous padding on desktop */
@media (min-width: 992px) {
    #NAV .row {
        margin-left: 0;
        margin-right: 0;
    }
    #NAV .col-md-12,
    .navbar-collapse {
        padding: 0;
    }
}

/* dropdowns */
.navbar-nav>li>.dropdown-menu,
.dropdown-menu {
	background-color: #fff;
    border: 2px solid #F2F2F2;
    padding: 20px 0;
    box-shadow: none;
}
.navbar-nav .dropdown-menu>li>a,
.dropdown-menu > li > a {
    padding: 5px 25px;
    color: #212942;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
.navbar-nav .dropdown-menu>.active>a,
.navbar-nav .dropdown-menu>.active>a:hover,
.navbar-nav .dropdown-menu>.active>a:focus,
.navbar-nav .dropdown-menu>li>a:hover,
.navbar-nav .dropdown-menu>li>a:focus,
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	background: transparent;
	color: #017F75;
}
.nav.navbar-nav .dropdown-submenu>ul.dropdown-submenu {
    padding: 5px 20px;
}
.navbar-nav .dropdown-submenu>li>a {
    padding: 2px 0;
    color: #212942;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}
.navbar-nav .dropdown-submenu>.active>a, .navbar-nav .dropdown-submenu>.active>a:hover, .navbar-nav .dropdown-submenu>.active>a:focus, .navbar-nav .dropdown-submenu>li>a:hover, .navbar-nav .dropdown-submenu>li>a:focus {
    color: #017f75;
}

/************ hero ************/
.hero,
.anchor-block {
    background-color: #0d5147;
    background-position: center right;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.hero .HtmlContent,
.anchor-block .HtmlContent {
    width: calc(100% - 325px);
    background-position: right center;
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/ROCKET/c51d81c0-1ace-4639-bd70-08413968a4d5/UploadedImages/eConverse_2021/Group_702.png');
    background-position: right center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding: 80px 400px 80px calc(50% - 585px);
    position: relative;
}
.hero .HtmlContent *,
.anchor-block .HtmlContent * {
    position: relative;
}
.hero h1,
.hero h2,
.hero h3 {
    color: #fff;
}
.hero p {
    color: #fff;
    margin-bottom: 25px;
}
.hero.make-buttons em a:last-child::after {
    content: '\f001';
}

/************ member dashboard ************/

.member-dashboard {
    background: linear-gradient(90deg, #017F75 -2.53%, #212942 100.97%);
    position: relative;
    padding: 50px calc(50% - 600px) 100px calc(50% - 600px);
    margin-bottom: -30px;
}
.member-dashboard::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    background-size: auto 100%;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/ROCKET/c51d81c0-1ace-4639-bd70-08413968a4d5/UploadedImages/eConverse_2021/Group_683.png');
}
.member-dashboard .bottom-triangles {
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
}
@supports (background-blend-mode: multiply) {
    .member-dashboard .bottom-triangles {
        bottom: 0;
    }
}
.member-dashboard .bottom-triangles .HtmlContent {
    line-height: 0;
}
.dashboard-inner {
    display: flex;
}
.dashboard-col-1 {
    flex-basis: 45%;
    padding-left: 15px;
    padding-right: 15px;
}
.dashboard-col-2 {
    flex-basis: 55%;
    padding-left: 15px;
    padding-right: 15px;
}

/****** user details ******/
.member-dashboard .user-details {
    display: flex;
    margin-bottom: 45px;
}

/*** image ***/

.member-dashboard-img {
    position: relative;
    margin-right: 20px;
}

.member-dashboard-img a[id*="ImageControl"] {
    border: 5px solid #fff;
}
.member-dashboard-img .row {
    margin: 0;
}
.member-dashboard-img .col-md-12 {
    padding: 0;
}
.member-dashboard-img .form-group.margin-top-small {
    display: none;
}

/*** email content ***/

.email-content a {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #389CBE;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    padding: 1px 7px;
}
.email-content a i {
    color: #212942;
    margin-right: 3px;
}
.email-content a:hover,
.email-content a:focus {
    background: #2B84A2;
}

/*** greeting ***/
.greeting {
    width: calc(100% - 140px);
}
.greeting span {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: block;
}
.greeting a {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}
.greeting a:hover,
.greeting a:focus {
    text-decoration: underline;
    opacity: 0.8;
}
.greeting .progress {
    margin-top: 10px;
    margin-bottom: 3px;
    border: 4px solid #FFFFFF;
    height: 30px;
    box-shadow: none;
    overflow: visible;
}
.progress {
    border-radius: 30px;
}
.Welcome .progress {
    border-radius: 30px !important;
}
.progress-bar-info {
    background: #8846AC;
    color: #fff;
    position: relative;
    box-shadow: none;
    border-radius: 30px;
}
.progress-bar-number {
    background: #8846AC;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    width: 33px;
    height: 33px;
    position: absolute;
    right: -17px;
    top: -6px;
    text-align: center;
    line-height: 33px;
    font-weight: 800;
    font-size: 12px;
    color: #fff;
    border-radius: 50%;
    z-index: 10;
}
.greeting .progress-text {
    color: #B6F0EA;
    opacity: 0.5;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.8;
}

/****** dashboard links ******/

.dashboard-links {
    display: flex;
    flex-wrap: wrap;
}
.dashboard-link {
    flex-basis: 50%;
    margin-bottom: 10px;
}
.dashboard-link a {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-left: 30px;
    text-decoration: none;
    position: relative;
}
.dashboard-link a:hover,
.dashboard-link a:focus {
    opacity: 0.8;
    text-decoration: underline;
}
.dashboard-link a::before {
    font-family: RocketForum;
    color: #C9FA59;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 400;
    font-size: 18px;
}
.dashboard-link.bookmark a::before {
    content: '\f00a';
}
.dashboard-link.address-book a::before {
    content: '\f00b';
}
.dashboard-link.badges a::before {
    content: '\f00c';
}
.dashboard-link.pencil a::before {
    content: '\f00d';
}
.dashboard-link.network a::before {
    content: '\f00e';
}
.dashboard-link.bell a::before {
    content: '\f00f';
}

/******* my forums ******/
.my-forums {
    background: #fff;
    border-radius: 3px;
    padding: 10px 20px;
    position: relative;
}
.my-forums .pagination,
.my-forums .content-tags {
    display: none;
}
.my-forums h2 {
    margin-top: 0;
    margin-bottom: 0;
}
.my-forums-link.make-buttons em {
    margin: 0;
}
.my-forums-link.make-buttons.large em a {
    padding: 11px 20px;
}
.add-forum {
    position: absolute;
    top: 10px;
    right: 20px;
}
.add-forum.make-buttons.small em a {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 10px;
    line-height: 1.2;
    letter-spacing: 1px;
    padding: 5px 10px;
}
.my-forums h2 + div[id*="UpdatePanel"] {
    display: flex;
    margin: 15px -5px;
    flex-wrap: wrap;
}
.my-forums h2 + div[id*="UpdatePanel"] > .row:not(.rowContainer) {
    display: none;
}
.my-forums .row.rowContainer.community-list {
    margin: 5px;
    padding: 0;
    border: none;
}
.my-forums .community-list div[class*="col-md-"] {
    padding: 0;
}
.my-forums .community-list .row,
.my-forums .community-list h3 {
    margin: 0;
}
.my-forums .community-list h3 a {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    padding: 11px 20px 11px 15px;
    background: #389CBE;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #389CBE;
}
.my-forums .community-list h3 a:hover,
.my-forums .community-list h3 a:focus {
    background: #2B84A2;
    border-color: #2B84A2;
}
.my-forums .community-list h3 a::before {
    font-family: RocketForum;
    content: '\f011';
    color: #212942;
    margin-right: 12px;
    font-size: 18px;
    line-height: 18px;
}
.my-forums .add-community {
    color: #389CBE;
    font-size: 26px;
    background: #F2F2F2;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin: 10px 5px;
}

/****** what's next ******/
.whats-next,
.dashboard-buttons {
    position: relative;
}
.whats-next {
    margin-top: 33px;
}
.whats-next h4 {
    color: #fff;
}
.dashboard-buttons {
    display: flex;
    margin: 10px -5px 0 -5px;
    flex-wrap: wrap;
}
.dashboard-btn {
    margin: 5px;
    display: none;
}
.dashboard-btn:first-child,
.dashboard-btn:nth-child(2),
.dashboard-btn:nth-child(3) {
    display: block;
}

/****** slick dots on mobile ******/

.member-dashboard ul.slick-dots {
    bottom: 30px;
}
.member-dashboard ul.slick-dots li button {
    display: none;
}
.member-dashboard ul.slick-dots li {
    background: #fff;
    opacity: 0.3;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.member-dashboard ul.slick-dots li.slick-active {
    opacity: 0.8;
}

/************ top circles ************/

.top-icons > .col-md-12 {
    display: flex;
    margin-top: -45px;
    margin-bottom: 30px;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
}
.top-icon a {
    border: 10px solid #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    text-decoration: none;
    background: #7A808F;
}
.top-icon a::before {
    display: block;
    font-size: 70px;
    line-height: 70px;
    font-weight: 400;
    color: #C9FA59;
    margin-bottom: 15px;
    font-family: RocketForum;
}
.top-icon.multivalue a::before {
    content: '\f016';
}
.top-icon.ibm-i a::before {
    content: '\f017';
}
.top-icon.ibm-z a::before {
    content: '\f018';
}
.top-icon.uniface a::before {
    content: '\f030';
}
.top-icon.b2b-integration a::before {
    content: '\f013';
}
.top-icon.see-all-forums a::before {
    content: '\f014';
}
.top-icon:first-child a,
.top-icon:last-child a {
    background: #212942;
    margin-top: 12px;
}
.top-icon:nth-child(2) a,
.top-icon:nth-last-child(2) a {
    background: #4A4F66;
    margin-top: 6px;
}
.top-icon a:hover,
.top-icon a:focus {
    transform: scale(1.08);
}

/************ widgets ************/
.ContentUserControl .HLLandingControl, .ContentUserControl.HLLandingControl, .ContentItemHtml .HLLandingControl, .ContentItemHtml.HLLandingControl,
.HLLandingControl .Content, .HLLandingControl .HtmlContent {
    padding: 0;
    border: none;
}
.HLDiscussions ul,
.SearchResults ul,
.HLEngagement ul,
.HLMyDocuments ul {
    margin-bottom: 20px;
    padding-top: 0;
}
.HLLandingControl ul li {
    border-bottom:  1px solid #F2F2F2;
}
.HLDiscussions ul li,
.SearchResults .Content ul li,
.HLMyDocuments ul li {
    padding: 15px 22px 15px 35px;
    position: relative;
    border-radius: 3px;
    border: 1px solid #F2F2F2;
    margin-bottom: 15px;
}
.HLDiscussions ul li:last-child,
.SearchResults .Content ul li:last-child,
.HLMyDocuments ul li:last-child {
    margin-bottom: 0;
}
.HLDiscussions ul li::before,
.SearchResults .Content ul li::before,
.HLMyDocuments ul li::before {
    content: '';
    position: absolute;
    border-left: 3px solid #f2f2f2;
    top: 16px;
    bottom: 35px;
    left: 20px;
}
.HLDiscussions ul li .title-row h3,
.SearchResults ul li .title-row h3,
.HLMyDocuments ul li .title-row h3 {
    margin-bottom: 10px;
}
.byline-posted-in {
    margin-top: 10px;
    margin-left: -15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.HLDiscussions ul li .byline-posted-in .col-md-2,
.SearchResults ul li .byline-posted-in .col-md-2,
.HLMyDocuments ul li .byline-posted-in .col-md-2 {
    background: #F2F2F2;
    border-radius: 40px;
    padding: 3px 12px 3px 43px !important;
    margin-top: 10px;
}
.HLDiscussions ul li .byline-posted-in .col-md-2 a[id*="lnkDisplay"],
.SearchResults ul li .byline-posted-in .col-md-2 a[id*="lnkDisplay"],
.blogs ul li .byline-posted-in .col-md-2 a[id*="lnkDisplay"],
.HLMyDocuments ul li .byline-posted-in .col-md-2 a[id*="lnkDisplay"] {
    border: 3px solid #f2f2f2;
    position: absolute;
    bottom: -3px;
    left: -3px;
    height: 41px;
    width: 41px;
}
.HLDiscussions ul li .title-row .col-md-10,
.SearchResults ul li .title-row .col-md-7,
.blogs ul li .title-row .col-md-10,
.HLMyDocuments ul li .title-row .col-md-10 {
    padding: 0;
    width: 100%;
}
.SearchResults ul li .title-row .col-md-3 {
    display: none;
}
.HLDiscussions ul li .content-row .col-md-12,
.SearchResults ul li div[id*="FoundIn"] .col-md-12,
.SearchResults ul li .title-row .col-md-12,
.HLMyDocuments ul li .content-row .col-md-12 {
    position: static;
}
.HLLandingControl .ByLine a {
    text-decoration: none;
}
.HLDiscussions ul li h5,
.SearchResults ul li h5,
.HLMyDocuments ul li h5 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 0;
    position: relative;
}

.HLDiscussions ul li h5 a,
.SearchResults ul li h5 a,
.HLMyDocuments ul li h5 a {
    color: #8846AC;
    font-size: 10px;
    line-height: 1.8;
    display: inline-block;
    background: #fff;
    border-radius: 100px;
    padding: 2px 8px;
    border: 1px solid #8846AC;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.HLDiscussions ul li h5 a:hover,
.HLDiscussions ul li h5 a:focus,
.SearchResults ul li h5 a:hover,
.SearchResults ul li h5 a:focus,
.HLMyDocuments ul li h5 a:hover,
.HLMyDocuments ul li h5 a:focus {
    background: #8846ac;
    color: #fff;
}

/*** tabbed widgets ***/

.tabs-list {
    border-bottom: 7px solid #212942;
    position: relative;
}
.tabs-list::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 0 0;
    border-color: #ffffff transparent transparent transparent;
}
.tabs-list::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 7px 7px;
    border-color: transparent transparent #ffffff transparent;
}
.tabs-list button {
    font-weight: 700;
    color: #212942;
    font-size: 18px;
    line-height: 24px;
    padding: 6px 18px;
    border-radius: 3px;
    background: transparent;
    border: none;
    margin-bottom: 7px;
    margin-right: 7px;
}
.tabs-list button:hover,
.tabs-list button:focus,
.tabs-list button.active {
    background: #F2F2F2;
}
.tabs-list {
    margin-bottom: 20px;
}
.tabbed-widgets h2 {
    display: none;
}
.tabbed-widgets {
    margin-bottom: 65px;
}

/****** announcements ******/

.announcement-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.announcement-title h2 {
    margin-top: 0;
    margin-bottom: 0;
}
.announcement-slider.slick-slider.slick-dotted {
    margin-bottom: 55px;
    padding-bottom: 40px;
}
.announcement-slider .slick-list {
    margin-left: -15px;
    margin-right: -15px;
}
.announcement-slider .slick-track {
    display: flex;
}
.announcement-slide.slick-slide {
    height: auto;
    border: 1px solid #017F75;
    border-radius: 3px;
    padding: 25px;
    margin-left: 15px;
    margin-right: 15px;
}
.announcement-slide h3 {
    margin-top: 0;
}
.announcement-slide p:last-child {
    margin-bottom: 0;
    color: #7A808F;
    font-size: 12px;
    line-height: 14px;
}

/*** arrows ***/
.announcement-slider .slick-arrow {
    background: transparent;
    border: none;
    padding: 0;
    color: #389CBE;
    font-size: 24px;
    line-height: 1;
    z-index: 10;
    position: absolute;
    bottom: 0;
}
.announcement-slider .slick-arrow.prev-arrow {
    left: 15px;
}
.announcement-slider .slick-arrow.next-arrow {
    right: 15px;
}

/*** dots ***/
.announcement-slider ul.slick-dots {
    bottom: 0;
}
.announcement-slider ul.slick-dots li button {
    display: none;
}
.announcement-slider ul.slick-dots li {
    width: 7px;
    height: 7px;
    background: #389CBE;
    opacity: 0.5;
    border-radius: 50%;
    margin: 1px 7px;
}
.announcement-slider ul.slick-dots li.slick-active {
    width: 10px;
    height: 10px;
    opacity: 1;
    margin: 0 7px;
}

/****** upcoming events ******/

.upcoming-events .Content ul li {
    border-bottom: none;
    padding: 25px;
    margin-bottom: 15px;
}
.upcoming-events div[id*="BottomLink"] {
    padding: 5px 0 0 25px;
}
.upcoming-events .timeAgoFormat,
.upcoming-events div[id*="Location"] {
    color: #666;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.4;
}
.upcoming-events ul li .col-md-2 {
    width: 80px;
    margin-right: 15px;
    float: left;
}
.upcoming-events ul li .col-md-10 {
    width: calc(100% - 95px);
    float: left;
}
.upcoming-events ul li .date-block {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    background: rgba(1,127,117,0.3);
}
.upcoming-events ul li .date-block .calendar-day {
    display: none;
}
.upcoming-events ul li .date-block .calendary-number span {
    font-size: 48px;
    line-height: 46px;
    letter-spacing: -0.02em;
    color: #212942;
    display: inline-block;
}
.upcoming-events ul li .date-block .calendar-month {
    font-weight: 900;
    font-size: 18px;
    line-height: 1;
    text-transform: uppercase;
    color: #212942;
}

/****** most active users ******/

.active-users {
    margin-bottom: 50px;
}
.active-users .Content,
.blogs .Content,
.upcoming-events .Content {
    border-radius: 3px;
    background: #f2f2f2;
    padding: 25px 0;
}
.active-users ul li {
    padding: 15px 35px 15px 100px;
    border-bottom: none;
    margin-bottom: 0;
    position: relative;
}
.active-users ul li:nth-child(odd),
.upcoming-events .Content ul li {
    background-color: #f8f8f8;
}
.active-users ul li a {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
}
.active-users-button {
    padding-top: 30px;
    padding-left: 25px;
}
.active-users ul li .col-md-9 {
    width: 100%;
    padding: 0;
}
.active-users ul li .title-row .col-md-3 {
    position: absolute;
    left: 35px;
    top: 15px;
}
.active-users ul li .content-row .col-md-3 {
    display: none;
}
.HLEngagement .points-label {
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    color: #8846AC;
    text-transform: uppercase;
    background: transparent;
    border: none;
    padding: 3px 0;
}
.HLEngagement .points-label::before {
    padding: 2px 6px;
    margin-right: 10px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #8846AC;
}
.HLEngagement ul li:first-child .points-label::before {
    content: '1st';
}
.HLEngagement ul li:nth-child(2) .points-label::before {
    content: '2nd';
}
.HLEngagement ul li:nth-child(3) .points-label::before {
    content: '3rd';
}
.HLEngagement ul li:nth-child(4) .points-label::before {
    content: '4th';
}
.HLEngagement ul li:last-child .points-label::before {
    content: '5th';
}

/****** technical blogs ******/

.blogs {
    margin-bottom: 90px;
}
.blogs .Content {
    padding: 25px;
}
.blogs .HLLandingControl ul li {
    border: none;
    background: #fff;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 3px;
    position: relative;
}
.blogs .HLLandingControl ul li:last-child {
    margin-bottom: 50px;
}
.blogs ul li .byline-posted-in .col-md-2 {
    position: absolute;
    bottom: -25px;
    padding-left: 43px !important;
    left: 20px;
}

/************ footer ************/

#MPFooterLink,
#MPCopyright {
    display: none;
}
#MPOuterMost.full #FOOTER {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.footer-icon-row > .col-md-12 {
    height: 63px;
    position: relative;
    margin-bottom: -3px;
}
.footer-icon-row > .col-md-12::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: calc((50% - 600px) + 110px); 
    background: #333;
    display: block;
}
.footer-icon-row > .col-md-12::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: calc(50% + 595px);
    background: #333;
    display: block;
}
.footer-icon-row .footer-icon {
    position: absolute;
    right: calc(50% - 600px);
    bottom: 0;
}
.footer-top-row {
    padding: 0 0 60px 0;
    color: #fff;
    background-color: #333;
}
.footer-top-row > .col-md-12 {
    padding: 0;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    width: calc(100% - 30px);
}
.footer-top-row h2 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
.footer-left-column {
    flex-basis: 40%;
}
.footer-logo {
    opacity: 0.4;
}
.footer-contact {
    flex-basis: 20%;
}
.footer-links {
    flex-basis: 40%;
}
.footer-social {
    margin-top: 55px;
}
.footer-social .HtmlContent {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}
.footer-social a {
    display: inline-block;
    opacity: 0.5;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 31px;
    text-align: center;
    font-size: 14px;
    margin: 5px;
    text-decoration: none;
}
.footer-social a:hover,
.footer-social a:focus {
    opacity: 1;
}
.footer-links .HtmlContent {
    display: flex;
    flex-wrap: wrap;
}
.footer-links p {
    flex-basis: 50%;
}
.footer-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
}
.footer-links a:hover,
.footer-links a:focus,
.footer-attribution a:hover,
.footer-attribution a:focus {
    text-decoration: underline;
    opacity: 0.8;
}
.footer-bottom-row .col-md-12 {
    padding: 0;
    display: flex;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    background: #333;
}
.footer-copyright {
    flex-basis: 75%;
    background: #000;
    position: relative;
    padding: 15px 140px 15px calc(50% - 600px);
    clip-path: polygon(0 0, 96.5% 0, 100% 100%, 0% 100%);
}
/* .footer-copyright::after {
    content: '';
    width: 50px;
    height: 100%;
    top: 0;
    bottom: 0;
    right: -50px;
    background: #000;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    position: absolute;
} */
.footer-attribution {
    flex-basis: 25%;
    padding: 15px 15px 15px 55px;
}
.footer-attribution a {
    font-weight: 700;
    color: #c9fa59;
    text-decoration: none;
}

/************ interior page design elements ************/

/****** blockquote ******/

.blockquote-section {
    background: #212942;
    border-radius: 3px;
    padding: 80px;
}
.blockquote-section h5,
.blockquote-section blockquote,
.anchor-block blockquote {
    color: #fff;
}
.HtmlContent blockquote {
    font-size: 24px;
    line-height: 30px;
    background: transparent;
    border: none;
    padding: 0;
    position: relative;
    margin: 0;
}
.HtmlContent blockquote::before,
.HtmlContent blockquote::after {
    font-family: 'Arial', sans-serif;
    font-size: 96px;
    line-height: 1;
    color: #fff;
    opacity: 0.2;
    position: absolute;
    vertical-align: unset;
    margin: 0;
}
.HtmlContent blockquote::before {
    content: '\201c';
    top: -40px;
    left: 0;
}
.HtmlContent blockquote::after {
    content: '\201d';
    right: 0;
    bottom: -90px;
}

/****** divider ******/
.divider {
    margin-top: 40px;
    margin-bottom: 55px;
    height: 6px;
    position: relative;
}
.divider::before {
    content: '';
    width: 270px;
    border-top: 1px solid #D6D6D6;
    position: absolute;
    top: 0;
    left: calc(50% - 135px);
}
.divider::after {
    content: '';
    width: 190px;
    border-top: 1px solid #D6D6D6;
    position: absolute;
    bottom: 0;
    left: calc(50% - 95px);
}

/****** callout panel ******/

.callout-panel {
    border: 1px solid #017F75;
    border-radius: 3px;
    background: linear-gradient(90deg, rgba(1, 127, 117, 0.1) -2.53%, rgba(33, 41, 66, 0.1) 100.97%);
    padding: 20px 30px;
    position: relative;
    margin-bottom: 30px;
}
.callout-panel::before {
    font-family: RocketForum;
    content: '\f015';
    color: #017F75;
    font-size: 25px;
    line-height: 1;
    position: absolute;
    top: 20px;
    right: 30px;
}
.callout-panel h4 {
    color: #017F75;
}
.callout-panel p {
    color: #212942;
}

/****** champions ******/
.champions {
    margin-bottom: 45px;
    background: #F2F2F2;
    border-radius: 3px;
    padding: 20px 0;
}
.champion:nth-child(odd) {
    background: #f8f8f8;
}
.champion .HtmlContent {
    padding: 25px 35px 25px 130px;
    position: relative;
    min-height: 105px;
}
.champion .HtmlContent > strong {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 35px;
    top: 15px;
}
.champion h3 {
    margin-top: 0;
    margin-bottom: 4px;
}
.champion p {
    margin-bottom: 0;
}
.champion-btn {
    padding-top: 20px;
    padding-left: 20px;
}

/****** gray tiles ******/
.tile-gray .HtmlContent {
    background: #F2F2F2;
    border-radius: 3px;
    padding: 25px;
}
.tile-gray img {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    margin-bottom: 30px;
    max-width: calc(100% + 30px);
}
.tile-gray h3 {
    margin-top: 0;
    margin-bottom: 12px;
}
.tile-gray p:last-of-type {
    margin-bottom: 30px;
}

/****** page titles *******/

#PageTitleH1 {
    max-width: 100%;
    padding: 60px calc(50% - 585px) 50px calc(50% - 585px);
    color: #fff;
    background: linear-gradient(90deg, #017F75 -2.53%, #212942 100.97%);
    margin-bottom: 60px !important;
    position: relative;
}
#PageTitleH1::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 500px;
    background-size: auto;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/ROCKET/c51d81c0-1ace-4639-bd70-08413968a4d5/UploadedImages/eConverse_2021/page-title-group.png');
}
.alternate-title #PageTitleH1 {
    background: linear-gradient(270deg, #0D5147 0%, #017F74 69.79%, #429E66 100%);
    padding-bottom: 85px;
}
.alternate-title #PageTitleH1::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    height: 75px;
    background-image: url('https://higherlogicdownload.s3.amazonaws.com/ROCKET/c51d81c0-1ace-4639-bd70-08413968a4d5/UploadedImages/eConverse_2021/rocket-bugline-pagetitle-wide.png');
    background-size: auto;
    background-position: center;
    background-repeat: repeat-x;
}

/****** anchor block ******/

.anchor-block {
    margin-bottom: -110px;
}
.anchor-block .HtmlContent {
    padding-bottom: 145px;
    padding-right: calc(50% - 585px);
}
.anchor-block .HtmlContent > * {
    width: 500px;
    max-width: 100%;
}
.anchor-block p {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 25px;
}
.anchor-block h2 {
    color: #73BAB2;
}
.anchor-block h2::before {
    color: #C9FA59;
}
.anchor-block h5 {
    color: #fff;
    margin-bottom: 30px;
}
.anchor-block blockquote {
    margin-top: 60px;
}
.anchor-block .testimonial-quote blockquote {
    margin-top: 0;
    color: #333;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 700;
}
.anchor-block .testimonial-quote blockquote::before,
.anchor-block .testimonial-quote blockquote::after {
    display: none;
}
.anchor-block .testimonial-quote h5 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333;
    margin-bottom: 0;
}
.anchor-block.has-discussions .HtmlContent,
.anchor-block.multiple-testimonials .HtmlContent {
    display: flex;
    padding-right: 0;
    align-items: center;
}
.anchor-block.has-discussions .text-container,
.anchor-block.multiple-testimonials .text-container {
    width: 400px;
    margin-right: 30px;
}
.anchor-block p:last-of-type {
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    opacity: 0.8;
}
.anchor-block p:last-of-type a {
    font-weight: 700;
    opacity: 1;
    color: #fff;
    text-decoration: none;
}
.anchor-block p:last-of-type a:hover,
.anchor-block p:last-of-type a:focus {
    opacity: 0.8;
    text-decoration: underline;
}
.anchor-block-discussions,
.anchor-block.multiple-testimonials .anchor-testimonials {
    width: 650px;
    margin-right: -325px;
    position: relative;
    min-height: 250px;
}
.anchor-block.multiple-testimonials .anchor-testimonials {
    min-height: 320px;
}
.anchor-block-discussions .HLLandingControl.HLDiscussions ul {
    width: 650px;
    min-height: 250px;
}
.anchor-block-discussions .HLLandingControl.HLDiscussions ul li,
.anchor-block.multiple-testimonials .testimonial-quote {
    background: #fff;
    border-radius: 3px;
    padding: 20px 20px 65px 20px;
    border: none;
    width: 300px;
    box-shadow: 20px 20px #C9FA59;
    position: absolute;
}
.anchor-block-discussions ul li:first-child,
.testimonial-quote:first-child {
    top: 0;
    left: 0;
}
.anchor-block-discussions ul li:first-child::after,
.testimonial-quote:first-child::after {
    content: '';
    position: absolute;
    right: 50px;
    bottom: -37px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 17px 0;
    border-color: transparent #cafa59 transparent transparent;
}
.anchor-block-discussions ul li:last-child,
.testimonial-quote:last-child {
    bottom: 0;
    right: 0;
}
.anchor-block-discussions ul li:last-child::after,
.testimonial-quote:last-child::after {
    content: '';
    position: absolute;
    left: 50px;
    bottom: -37px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 25px 0 0;
    border-color: #cafa59 transparent transparent transparent;
}
.anchor-block-discussions .HLLandingControl ul li::before {
    display: none;
}
.anchor-block-discussions .HLLandingControl.HLDiscussions ul li .byline-posted-in .col-md-2 {
    background: transparent;
    padding: 0!important;
    bottom: -45px;
    left: 0;
    display: flex;
    align-items: center;
}
.anchor-block-discussions .HLLandingControl.HLDiscussions ul li .byline-posted-in .col-md-2 a[id*="lnkDisplay"] {
    border: none;
    position: relative;
    margin-right: 7px;
    width: 35px;
    height: 35px;
}

/************ style guide ************/

.style-guide tr td {
    padding: 10px 15px;
    vertical-align: middle;
    border: solid;
    border-width: 1px;
    background-color: #FFF;
    border-color: #EDEDED;
}
.style-guide th {
    padding: 10px 15px;
    vertical-align: middle;
    color: inherit;
    background-color: #FaFaFa;
    border: 1px solid #f5f5f5;
}
.style-guide tr:nth-child(2n) {
    border-bottom: 1px solid #EDEDED;
    background: #FFF;
}

.highlight-tile {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.04), 0 0 20px 0 rgba(0,0,0,0.06);
    padding: 20px 30px;
    text-align: left;
    margin-bottom: 20px;
}
.highlight-tile h2,
.highlight-tile h3 {
    margin-top: 4px;
}

/************ interior forum pages ***********/

.btn-group.bootstrap-select.padding-md-left {
    min-width: 220px;
}
.bootstrap-select.btn-group .dropdown-toggle {
    line-height: 18px;
    padding: 7px 15px;
}

/************ ideation page ************/

.ideation-home .ideation-filter .ideation-filter-buttons {
    width: auto;
}

/************ profile pages ************/
@media (min-width: 992px) {
    #inboxMessageContainer + .well .col-md-10 .col-md-10 {
        width: calc(100% - 100px);
    }
    #inboxMessageContainer + .well .col-md-10 .col-md-2 {
        width: 100px;
    }
}

/************ responsive ************/

@media (max-width: 1400px) {
    .hero .HtmlContent,
    .anchor-block .HtmlContent {
        width: calc(100% - 200px);
    }
    .anchor-block-discussions,
    .anchor-block.multiple-testimonials .anchor-testimonials {
        margin-right: -200px;
    }
    .anchor-block.has-discussions .HtmlContent,
    .anchor-block.multiple-testimonials .HtmlContent {
        flex-wrap: wrap;
    }
}

@media (max-width: 1230px) {
    .footer-copyright {
        padding-left: 15px;
    }
    .footer-attribution {
        padding-right: 15px;
    }
    .footer-icon-row .footer-icon {
        right: 15px;
    }
    .footer-icon-row > .col-md-12::before {
        right: 125px;
    }
    .footer-icon-row > .col-md-12::after {
        left: calc(100% - 17px);
    }
    .member-dashboard {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1200px) {
    #MPOuterMost.full #HEADER {
        max-width: calc(100% - 30px);
    }
    #NAV {
        position: relative;
        bottom: auto;
        right: auto;
    }
    .hero .HtmlContent,
    .anchor-block .HtmlContent {
        width: 100%;
        padding-left: 15px;
    }
    .anchor-block.has-discussions .HtmlContent, 
    .anchor-block.multiple-testimonials .HtmlContent {
        padding-right: 15px;
    }
    .hero,
    .anchor-block {
        background-position-x: 800px;
    }
    .anchor-block.has-discussions {
        background-position-x: 500px;
    }
    #PageTitleH1 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .anchor-block.has-discussions .text-container,
    .anchor-block-discussions,
    .anchor-block.multiple-testimonials .text-container,
    .anchor-block.multiple-testimonials .anchor-testimonials {
        width: 100%;
        max-width: 800px;
    }
    .anchor-block-discussions,
    .anchor-block.multiple-testimonials .anchor-testimonials {
        margin-right: 0;
    }
    .alternate-title #PageTitleH1::after {
        background-image: url('https://higherlogicdownload.s3.amazonaws.com/ROCKET/c51d81c0-1ace-4639-bd70-08413968a4d5/UploadedImages/eConverse_2021/Group_765.png');
        background-position: right center;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .navbar-nav {
        float: right;
    }
}

@media (max-width: 1000px) {
    .top-icons > .col-md-12 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .top-icons .top-icon a {
        margin: 0;
    }
}

@media (max-width: 992px) {
    .row-wide div[class*="section"],
    .interior .row-wide div[class*="section"] {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 991px) {
    .footer-top-row > .col-md-12 {
        flex-wrap: wrap;
    }
    .footer-left-column,
    .footer-contact {
        flex-basis: 50%;
    }
    .footer-links {
        flex-basis: 100%;
        margin-top: 30px;
    }
    .hero,
    .anchor-block {
        background-image: none !important;
    }
    .hero .HtmlContent {
        padding-right: 15px;
    }
    .hero .HtmlContent,
    .anchor-block .HtmlContent {
        background-image: none;
    }
    .anchor-block .HtmlContent > * {
        width: 100%;
        padding-right: 15px;
    }
    .anchor-block-discussions,
    .anchor-testimonials {
        margin-top: 20px;
    }
    .testimonial-quote:last-child {
        right: 20px;
    }

    /****** nav ******/
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        background: transparent;
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none !important;
        margin: 7.5px 0;
        max-height: calc(100vh - 90px);
    }
    .navbar-nav > li {
        float: none;
        max-height: calc(100% - 150vh);
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-collapse.in {
        overflow-y: scroll;
    }
    .collapsing {
        overflow: hidden !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    .navbar-nav {
        max-height: calc(100vh - 90px);
    }
    #NAV {
        margin-top: -45px;
        position: relative;
        z-index: 10;
    }
    #Logo {
        position: relative;
        z-index: 20;
    }
    #searchColumn {
        display: block;
        float: none !important;
        max-width: 100%;
    }
    .search-bar-top {
        display: none;
    }
}

@media (max-width: 768px) {
    #FOOTER .footer-top-row > .col-md-12 {
        margin-left: auto;
        margin-right: auto;
    }
    .footer-bottom-row .col-md-12 {
        flex-direction: column-reverse;
    }
    .footer-copyright {
        flex-basis: 100%;
        width: 100%;
        padding-right: 15px;
        clip-path: none;
    }
    .footer-attribution {
        flex-basis: 100%;
        padding-left: 15px;
    }
    #MPOuterMost .top-icons > .col-md-12 {
        margin-top: -45px;
        margin-bottom: 30px;
    }
    .anchor-block-discussions .HLLandingControl.HLDiscussions ul li {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
    }
    .anchor-block-discussions .HLLandingControl.HLDiscussions ul li:first-child {
        margin-bottom: 50px;
    }
    .anchor-block .anchor-testimonials .testimonial-quote:last-child {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #212942;
    }
}

@media (max-width: 550px) {
    .footer-left-column,
    .footer-contact,
    .footer-links p {
        flex-basis: 100%;
    }
    .footer-contact {
        margin-top: 30px;
    }
    .hero .HtmlContent {
        padding-top: 40px;
        padding-bottom: 75px;
    }
    h1, .h1 {
        font-size: 36px;
    }
    #Logo {
        max-width: calc(100% - 95px);
    }
}

@media (max-width: 400px) {
    .dashboard-link {
        flex-basis: 100%;
    }
    .member-dashboard .user-details {
        display: block;
    }
    .greeting {
        width: 100%;
        margin-top: 30px;
    }
}